@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
 
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* paleta de colores */

:root {
    --color_1: #148f77;
    --color_2: #17a589;
    --color_3: #1abc9c;
    --color_4: #48c9b0;
    --color_5: #76d7c4;
    --color_6: #a3e4d7;
}

/*reset*/

a {
    display: block;
    text-decoration: none;
    color: black;
}

p {
    line-height: 1.5rem;
}
 li {
    list-style: none;
 }



/*Navegador*/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 10;
    background-color: white;

}

.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.logo {
    height: 100%;
}

.logo img {
    width: 7.5rem;
}

.barra_navi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}


.barra_navi .navi a {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
}

.underline_hover::after {
    content: "";
    height: 4px;
    width: 0;
    background-color: var(--color_3);
    display: block;
    transition: all .3s;
}

.underline_hover:hover::after {
    width: 100%;
}






/*Banner principal*/



.banner_principal {
    
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url(../recursos/cuarentayocho.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6rem;
}

.contenido_banner {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.logo_banner img {
    width: 7rem;
    position: absolute;
    top: 1.56rem;
}

.logo_banner h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;
    
}

.logo_banner p {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    
}

.button_ancore {
    border: none;
    margin-top: 1rem;
    background-color: #76d7c477;
    padding: 0.8rem 3rem;
    border-radius: .7rem;
    font-size: .9rem;
    backdrop-filter: blur(6px);
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 6px 0.2px  var(--color_3);
    transition: .3s;
    
}

.button_ancore:hover {
    transform: scale(1.1);
    background-color: #76d7c4b0;
}



/*Nosotros*/


.quienes_somos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6rem;
}

.title {
    text-align: center;
    color: var(--color_1);
    font-size: 2rem;
    font-weight: 800;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    gap: 2rem;
}

.container .history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title_history {
    color: var(--color_1);
    font-size: 1.3rem;
    font-weight: 800;
}

.mision_vision_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.mision_vision_section .mision_vision {
    width: 45%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}


/*servicios*/


.productos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: whitesmoke;
    gap: 2rem;
    margin-bottom: 6rem;
}

.container .nuestros_servicios {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 1rem;
}

.cuadro_servicio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
    transition: .4s;
}

.cuadro_servicio > p {
    position: absolute;
    bottom: 0px;
    color: white;
    margin: 0;
    width: 100%;
    background:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
    padding: 10px;
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;
    transition: .4s;
}

.cuadro_servicio:hover > p {
    bottom: -100px;
}

.cuadro_servicio img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s;
}

.cuadro_servicio:hover img {
    transform: scale(1.2);
}

.service_details {
    position: absolute;
    right: 523px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .4s;

}

.service_details p {
    width: 80%;
    text-align: center;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

.cuadro_servicio:hover .service_details {
    right: 0;
}

/*galeria de imagenes*/

.galeria {
    background-color: white;
}

.grid_zone {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    border-radius: .5rem;
    
}

.grid_zone figure {
    overflow: hidden;
    border-radius: .5rem;
    height: 60vh;
}


.grid_zone figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .4s;
}

.grid_zone figure:hover img {
    transform: scale(1.2);
}


/*team work*/

/* .team_members {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    position: relative;
    width: 18.75rem;
    height: 25rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card .head {
    height: 7.81rem;
    width: 100%;
    position: relative;

}

.card .head .circle {
    position: absolute;
    width: 18.75rem;
    height: 18.75rem;
    background-color: var(--color_1);
    border-radius: 50%;
    bottom: 0;
}

.card .head .img_card {
    width: 9.37rem;
    height: 9.37rem;
    position: absolute;
    background-color: white;
    padding: 0.31rem;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.card .head .img_card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .description {
    height: 12.5rem;
    padding: 2.5rem 1.25rem 1.25rem 1.25rem;
    border-bottom: 1px solid rgba(6, 74, 76, 0.18);
    text-align: center;
}

.card .description h3 {
    color: var(--color_1);
}

.card .description h4 {
    color: var(--color_2);
}

.card .description p {
    margin-top: 1.25rem;
    font-size: 0.93rem;
}

.card .contact {
    width: 100%;
    height: 4.68rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contact a {
    color: white;
    background-color: #157579;
    padding: 0.31rem 1.25rem;
    border-radius: 5px;
    transition: .3s;
}

.card .contact a:hover {
   
    background-color: #0b6164;

}
 */

/* Contactos */

.contactos {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 0 10%;
    margin-bottom: 6rem;
    
}




.form_contact {
    grid-area: form;
}

.info_contact {
    grid-area: info;
}

.map_contact {
    grid-area: map;
}

.contactUs {
    padding: 2.5rem;
    background-color: white;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    
}

.contactUs h3 {
    color: var(--color_1);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 0.62rem;
}

.box_contact {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 1.25rem;
    margin-top: 1.25rem;
    
}

/* formulario */

.formBox {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.formBox .row50 {
    display: flex;
    gap: 1.25rem;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: var(--color_1);
    margin-top: 1.25rem;
    margin-bottom: 0.31rem;
    font-weight: 500;
}

.inputBox  input{
    padding: 0.62rem;
    font-size: 1.1em;
    outline: none;
    border: 1px solid var(--color_2);
    border-radius: 5px;
}

.inputBox textarea {
    padding: 0.62rem;
    font-size: 1.1em;
    outline: none;
    border: 1px solid var(--color_2);
    resize: none;
    min-height: 13.75rem;
    margin-bottom: 0.62rem;
    border-radius: 5px;
}

.inputBox input[type="submit"] {
    background-color: var(--color_3);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    max-width: 125px;
    font-weight: 500;
    padding: 0.87rem 0.93rem;
    border-radius: 5px;
}

.inputBox ::placeholder {
    color: #999;
}

/* Informacion */

.info_contact {
    background-color: var(--color_2);
    border-radius: 5px;
}

.info_contact h3 {
    color: white;
}

.info_contact .infoBox article {
    display: flex;
    align-items: center;
    margin-bottom: 0.62rem;
}

.info_contact .infoBox article span {
    min-width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-color: var(--color_1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 0.9rem;
}

.info_contact .infoBox article p {
    color: white;
    font-size: 1.1em;
}

.info_contact .infoBox article a {
    color: white;
    font-size: 1.1em;  
}

.sci {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



.sci li a {
    color: #ccc;
    font-size: 2em;
    transition: .4s;
}

.sci li a:hover {
    color: #fff;

}

/* mapa */

.map_contact {
    padding: 0;
    border-radius: 5px;
}